@import './../../../styles/scss/_vb.scss';

.status-message{
  text-align: center;
  margin: 0 auto;
  padding: 20vh 10vh;
    &-error{
      color : $error ;  
    }
    &-warning{
      color: $warning;
    }
    &-info{
      color: $info;
    }
    &-sucess{
      color: $sucess;
    }
    &-icon{
      width:100px;
      margin-top:30px;
    }
}